<section id="about">
    <div class="content">
        <h2 >About Me</h2>
        <p >Highly skilled and Certified Cyber Security Professional with 2+ years of
            experience in securing IT environments. Adept at implementing robust security
            measures, conducting risk assessments, and responding to security incidents.
            Proven expertise in network security, vulnerability assessment, and incident
            response. Possess strong analytical and problem-solving abilities with a
            commitment to ensuring the confidentiality, integrity, and availability of
            information. Seeking a challenging role to contribute cybersecurity skills and
            knowledge in a dynamic organisation.</p>
    </div>
</section>
