<section id="Experience">
    <div class="experience-section">
        <h2>Professional Experience</h2>
    
        <!-- List of Experiences -->
        <ul class="experience-list">
    
            <!-- Experience Item 1 -->
            <li class="experience-item">
                <div class="job-title">Cybersecurity Analyst</div> 
                <div class="company-date" >PENGER |  FEB 2022 - MAY 2024 </div>
                <p class="job-description">
                    - Developed and implemented comprehensive security policies and
                      countermeasures for safeguarding data against cyber threats. <br>
                    - Monitored computer network for security breaches using Wireshark.<br>
                    - Analyzed system logs to identify suspicious network activity and provide
                      solutions to rectify potential threats.<br>
                    - Conducted network security assessments and vulnerability scans. <br>
                    - Led incident response efforts and managed threat intelligence for critical systems. <br>
                    - Collaborated closely with IT team to deploy firewalls, antivirus program,
                      encryption technologies, virtual private networks (VPNs), IDS/IPS systems, etc.
                      enduring robust defense against external threats.<br>
                    - Created detailed documentation for installing, configuring, maintaining and
                      troubleshooting all aspects of the corporate network infrastructure including
                      routers and switches using WAN optimization techniques and protocols such
                      as SMPT (Simple Mail Transfer Protocol). <br>
                    - Evaluated existing network architecture and identified areas of improved areas
                      of improvement to maximize efficiency and reduce latency issues while
                      minimizing operating costs associated with networking operations.<br>
                    - Diagnosed and successfully resolved security-related issues or incidents
                      (Troubleshooting). <br>
                    - Conducted regular assessments and scans to identify vulnerabilities within
                      systems and networks.<br> 
                    - Analyzed and prioritized vulnerabilities based on risk levels and potential
                      impact (Vulnerability Analysis).<br>
                    - Conducted penetration tests to simulate cyberattacks and assess the
                      organization's defenses. Provided detailed reports on vulnerabilities
                      discovered during testing and recommendations for remediation (Penetration
                      Testing).<br>
                    - Implemented DLP technologies to monitor and protect sensitive data from
                      unauthorized access and exfiltration. Developed policies around data handling,
                      ensuring that employees understand the importance of safeguarding sensitive
                      information. <br>
                    - Regularly assessed DLP effectiveness and adjusted policies or technologies as
                      needed to address emerging threats.
                    - Kept myself update on the latest cybersecurity threats, vulnerabilities, and
                      trends. <br>
                    - Analyzed threat intelligence data to anticipate potential attacks and enhance
                      preventive measures. Collaborated with peers and industry groups to share
                      knowledge and best practices in threat mitigation.
                   
                </p>
            </li> 

