<section id="projects">
    <div class="content">
        <h2>Projects</h2>
        <div class="project">
            <h3>Project 1: Vulnerability Analysis</h3>
            <p>Analysis of organization's network, including its performance, security
                measures, and overall management to identify risks, anomalies, and areas for
                improvement within the network. </p>
            <p>Performed a comprehensive security audit, identifying and mitigating vulnerabilities.</p>
        </div>
        <div class="project">
            <h3>Project 2: Bug Bounty</h3>
            <p>dentifying and evaluating security vunerabilities in a system or network
                using automated testing tools to detect potential threats and assigning
                severity levels to various security defects. 
               Vulnerability Research- Smule (#1659340 Bug Bounty Program) From
                HackerOne</p>
        </div>
    </div>
</section>
