<!-- Contact Section -->
<section id="contact">

    <div class="container">
        <h2>Contact Me</h2>
        <p>If you'd like to reach out to me, feel free to use the contact details below.</p>

        <!-- Contact Information -->
        <div class="icon"></div>
        <div class="contact-info">
            <!-- Email Section -->
            <div class="contact-item">
                <h3><b><i class="fa-solid fa-envelope"></i>&nbsp;</b> Email</h3>
                <a href="mailto:ASHWINRAJAN1999@gmail.com">ASHWINRAJAN1999&#64;gmail.com</a>
            </div>       

            <!-- Phone Number Section -->
            <div class="contact-item">
                <p>You can call or text me at:</p>

                <h3><i class="fa-solid fa-phone"></i>&nbsp;Phone</h3>

                <!-- Corrected phone numbers -->
                <a href="tel:+918428385032">+918428385032</a><br>
                <a href="tel:+971583035629">+971583035629</a>
            </div>

            <!-- LinkedIn -->
            <div class="contact-item">

                <h3><i class="fa-brands fa-linkedin"></i>&nbsp;LinkedIn</h3>
                <a href="https://www.linkedin.com/in/ashwinrajan-k-j-2520691ba/" target="_blank">https://www.linkedin.com/in/ashwinrajan-k-j-2520691ba/</a>

            </div>
        </div>
    </div>
</section>