<section id="skills">
    <div class="content">
        <h2 >Skills</h2>
        
        <ul>
            <li>-Network Security</li>
            <li>-Vulnerability Assessment</li>
            <li>-Incident Response</li>
            <li>-Penetration Testing</li>
            <li>-Threat Intelligence</li>
            <li>-Risk Management</li>
            <li>-Security Testing</li>  
            <li>-Developing Security Plans</li>
            <li>-Bug Bounty</li>   
            <li>-Java FullStack Developing</li>
            <li>-Research & Development Procurement</li> 
            <li>-IDS integration</li> 
            <li>-Project Management</li>
            <li>-Burpsuite</li>
            <li>-Nmap</li>
            <li>-SpringBoot</li>
            <li>-JavaFullStack</li>
        </ul>
    </div>
</section>
